# Coding Temple's Data Analytics Program
---
## Join and Merge Data 

### Helpful Resources

* [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
* Python Data Science Handbook
    * [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
    * [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
    * [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
    * [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables

## Dataset Description

You can view the CSV files [here](https://github.com/lucchesia7/coding_temple_da_data_store/tree/main/week-4/data/Instacart_small), before you load them into your notebook.

**Task 1** - Load CSV files

We're going to look at the Instacart data and load the files as we need them. The Pandas and numpy import statements have been provided for you as well as the URL for the dataset.

* Using the provided URL (`data_url1`) load the product CSV file into a DataFrame called `product_names`.
* Print the top five records (or rows) of `product_names`.

In [5]:
# Task 1

# Imports 
import pandas as pd
import numpy as np

# Dataset URL
data_url1 = 'https://raw.githubusercontent.com/lucchesia7/coding_temple_da_data_store/main/week-4/data/Instacart_small/product_names_sm.csv'

# Load the CSV file into a DataFrame
product_names = pd.read_csv(data_url1)
product_names

,product_id,product_name,aisle_id,department_id
0,45676,Oil Free Acne Stress Control Power Clear Scrub,73,11
1,35408,Soymilk Vanilla Value Size,91,16
2,37442,Vegan Egg,86,16
3,41599,Organic Echinacea Herb Capsules,47,11
4,21994,Premium Saline Nasal Spray,11,11
...,...,...,...,...
24995,49183,Sf Protein Thai Style,38,1
24996,7122,Sleek Super Plus Unscented Tampons,126,11
24997,44763,English Cucumber,83,4
24998,3960,Quietude Quick Dissolving Tablets,6,2
24999,40535,Brewed Green Tea Iced Tea,98,7

**Task 2** - DataFrame concatenation

**Check out the documentation for pd.concat() [here](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)**

Next, we're going to load two additional CSV files. The URLs have been provided so your task is to load the files into the appropriately named DataFrames and then to concatenate them into one DataFrame.

* Load the CSV file at `data_url2` into a DataFrame called `order_products_prior`.
* Load the CSV file at `data_url3` into a DataFrame called `order_products_train`.
* Concatenate `order_products_prior` and `order_products_train` into one DataFrame called `order_products`.

In [6]:
# Task 2
# Dataset URLs
data_url2 = 'https://raw.githubusercontent.com/lucchesia7/coding_temple_da_data_store/main/week-4/data/Instacart_small/order_products_prior_sm.csv'
data_url3 = 'https://raw.githubusercontent.com/lucchesia7/coding_temple_da_data_store/main/week-4/data/Instacart_small/order_products_train_sm.csv'
# YOUR CODE HERE
order_products_prior = pd.read_csv(data_url2)
order_products_train = pd.read_csv(data_url3)

# Concatenate the DataFrames
order_products = pd.concat([order_products_prior, order_products_train])
order_products

       order_id  product_id  add_to_cart_order  reordered
0       1696715       34969                 11          0
1       2077308       16641                 16          0
2        303457       46881                  6          0
3        514151       31766                  9          0
4       2099209        7908                 10          1
...         ...         ...                ...        ...
24995   1474983       21903                 21          0
24996    891325       26209                  5          1
24997    151280       13176                  6          1
24998   3250616       47719                  4          0
24999   2733689       17435                 19          0

[50000 rows x 4 columns]

**Task 3** - Top five (5) products

We're going to create a list of the top five products - we've already determined what the top five are so now it's your turn to put these items in a list.

* Create a list called `five_products` with the following items: "Bag of Organic Bananas", "Organic Baby Spinach", "Organic Avocado", "Large Lemon", "Limes"

*Note: Make sure to create the list with exact spelling as shown above!*

In [7]:
# Task 3
# Top 5 products: five_products
five_products = ["Bag of Organic Bananas", "Organic Baby Spinach", "Organic Avocado", "Large Lemon", "Limes"]
five_products

['Bag of Organic Bananas',
 'Organic Baby Spinach',
 'Organic Avocado',
 'Large Lemon',
 'Limes']

**Task 4** - DataFrame subset using merge

Create a subset of the `product_names` dataset that includes just the top **five** most ordered products. The `five_products` list has been converted to a DataFrame with the name `five`. Your task is to merge these DataFrames.

* Merge `product_names` and `five` so the resulting DataFrame only includes the 5 most ordered products.  Name that DataFrame `top_products`.

In [9]:
# Task 4
# Convert five_products to a DataFrame called five
five = pd.DataFrame({'product_name': five_products})

# Create a subset of product_names with only the top 5 products.  
# Use your merge statement to include only the top 5 products
top_products = pd.merge(product_names, five, on='product_name')
top_products

   product_id            product_name  aisle_id  department_id
0       47766         Organic Avocado        24              4
1       47626             Large Lemon        24              4
2       13176  Bag of Organic Bananas        24              4
3       26209                   Limes        24              4
4       21903    Organic Baby Spinach       123              4

**Task 5** - More DataFrame merging

Now we're going to merge the first DataFrame we created (`order_products`) with the one we just made above (`top_products`). This will result in a DataFrame with only the top five most ordered products.

* Merge `order_products` and `top_products` and name the resulting DataFrame `final`.
* Print the top 20 rows of `final` to view your result.

In [18]:
# Task 5
# Merge order_products and top_products 
# YOUR CODE HERE

final = order_products.merge(top_products, on='product_id')
final['product_name'].describe()

count                       1670
unique                         5
top       Bag of Organic Bananas
freq                         561
Name: product_name, dtype: object

**Task 6** - Top five products - value counts

Note that every record in `final` is a single instance in which someone ordered one of the top five products.  Your task is to calcluate the number of times each product was ordered.

* Calculate the **number of times** each product was ordered using `value_counts()`. Name the result `food_frequency`.
* Assign the most frequently ordered food to the variable `top_item` (your variable should be a string; make sure to use the exact formatting returned above).

In [11]:
# Task 6
# Determine the number of times each product was ordered
# YOUR CODE HERE
food_frequency = final['product_name'].value_counts()
top_item = food_frequency.idxmax()
display(top_item)
# View your results

'Bag of Organic Bananas'

**Task 7** - Using `groupby()` and `mean()`

In this next step, we're going to import one last CSV file and look at the time of day an order was made. Your task is to complete the merging and look at the mean time of the top five orders.

**Your tasks**
* Merge `orders` and `final` into a DataFrame called `final_times` that only includes the top five foods.
* Use the `groupby()` and `mean()` functions to calculate the mean time each product was ordered (`order_hour_of_day`).
* Name the results of your calculation `mean_hours`.

In [21]:
# Task 7

# COMPLETED FOR YOU
# Import orders.csv and name the DataFrame orders
data_url4 = 'https://raw.githubusercontent.com/lucchesia7/coding_temple_da_data_store/main/week-4/data/Instacart_small/orders_sm.csv'
orders = pd.read_csv(data_url4)
# Merge orders and final into the DataFrame final_time
# Use groupby() and mean() to calculate the mean time each product was ordered
# YOUR CODE HERE
final_times = pd.merge(orders, final, on='order_id')

# Calculate the mean time each product was ordered
mean_hours = final_times.groupby('product_name')['order_hour_of_day'].mean()

# View your results
mean_hours

product_name
Bag of Organic Bananas    13.200000
Large Lemon               16.000000
Limes                     10.333333
Organic Avocado           17.500000
Organic Baby Spinach      14.500000
Name: order_hour_of_day, dtype: float64

**Task 8** - Mean order time

Using the results from above, determine the mean order time for two of the top five items: "Limes" and "Organic Baby Spinach"

* Find the mean order time for "Limes" and assign it to the variable `time_limes`. Your answer should be a float defined to one decimal place.
* Find the mean order time for "Organic Baby Spinach" and assign it to the variable `time_spinach`. You answer should be a float defined to one decimal place.

In [22]:
# Task 8
# YOUR CODE HERE

time_limes = mean_hours.loc['Limes']
print("Mean order time for Limes:", time_limes)

time_spinach = mean_hours.loc['Organic Baby Spinach']
print("Mean order time for Organic Baby Spinach:", time_spinach)

Mean order time for Limes: 10.333333333333334
Mean order time for Organic Baby Spinach: 14.5